<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
              Players
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <playgroup-player-table #playersTable></playgroup-player-table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
    </mat-grid-tile>

    <mat-grid-tile>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <playgroup-player-form (submitted)="onCreatePlayerSubmit($event)"></playgroup-player-form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
