<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="800px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
              Players
              <button mat-raised-button (click)="addPlayer()" class="add-button">
                Add player
              </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <playgroup-player-table></playgroup-player-table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
