<h1 mat-dialog-title>Add new Deck</h1>
<form [formGroup]="deckForm">
    <div mat-dialog-content>
        <p>
            <mat-form-field>
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredCommanderOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                <input matInput placeholder="Commander" formControlName="commander" [matAutocomplete]="auto">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput placeholder="ScryfallLink" formControlName="commanderScryFallLink">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-autocomplete #partnerAuto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredPartnerOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                <input matInput placeholder="Partner" formControlName="partner" [matAutocomplete]="partnerAuto">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput placeholder="Partner Scryfall Link" formControlName="partnerScryFallLink">
            </mat-form-field>
        </p>
    </div>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button [mat-dialog-close]="deckForm.value" type="submit" color="primary"
            [disabled]="!deckForm.valid">Add</button>
    </mat-dialog-actions>
</form>